h3 {
  text-align: center;
}

h3.key-letter {
  text-align: left;
  padding-left: 10em;
}

.y-axis {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.vigenere-square p {
  line-height: 22px;
  margin: 0px;
}

.highlighted {
  color: white;
}
