.container {
  margin-bottom: 40px;
}

h3 {
  text-align: center;
}

h3.key-letter {
  text-align: left;
  padding-left: 10em;
}

.y-axis {
  text-align: left;
}

.message-letter {
  margin-top: 300px;
}
.vigenere-square p {
  line-height: 22px;
  margin: 0px;
}

.highlighted {
  color: lightgreen;
}

.vigenere-demo {
  min-width: 940px;
}
.vigenere-demo p {
  text-indent: 0px;
}

#vigenere-btn {
  margin-left: 0%;
  display: inline-block;
}

#demo-shift{
  width: 30%;
  font-size: 22px;
  font-weight: lighter;
  background-color: #141414;
  color: lightgreen;
}

#vigenere-demo-key{
  background-color: #141414;
  color: lightgreen;
  font-size: 25px;
}

.wiki-link {
  color: lightgreen;
}

.foursquare-demo {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.foursquare-demo p {
  text-indent: 0px;
  line-height: 23px;
  margin: 0px;
}

.foursquare-demo h2 {
  text-align: center;
}

.foursquare-demo h3 {
  text-align: left;
  margin-top: 10px;
}

@media screen and (max-width: 993px) {
  .message-letter, .key-letter {
    display: none;
  }
  .vigenere-demo {
    min-width: 565px;
  }
  .vigenere-demo [class^="col-sm"] {
    width: 100%;
    float: none;
  }
}
