h4 {
  margin-top: 20px;
  font-weight: bold;
}

body {
  background-color: #242624;
  color: #0f840f;
}
.form-group {
  margin-top: 10px;
  margin-bottom: 15px;
}

#shift {
  width: 40%;
  display: inline-block;
}

.radio {
  display: inline-block;
}

input[type=radio] {
  margin-left: 5px;
  margin-right: 2px;
}

button[type=submit] {
  display: block;
  float: right;
  background-color: black;
}

h1.action {
  margin-right: 5px;
}

* {
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: #0f840f;
}

.blink-me {
  color: green;
  background-color: #252628;
  font-size: 45px;
}

.jumbotron {
  background-color: #252628;
  text-align: center;
}


#vigenere-encode {
  background-color: black;
}

#vigenere-decode {
float: right;
background-color: black;
}

#output, #input, #shift, #vigenere-key {
  background-color: black;
  color: #0f840f;
  font-size: 20px;
}

#show,#content{display:none;}
#show:checked~#content{display:block;}
