h4 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;
}

body {
  background-color: black;
  color: #0f840f;
}
.form-group {
  margin-top: 10px;
  margin-bottom: 15px;
}

#shift {
  width: 40%;
  display: inline-block;
}

.radio {
  display: inline-block;
}

input[type=radio] {
  margin-left: 5px;
  margin-right: 2px;
}

button[type=submit] {
  display: block;
  float: right;
  background-color: black;
}

h1.action {
  margin-right: 5px;
}

* {
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: #0f840f;
}

.blink-me {
  color: green;
  background-color: black;
  font-size: 45px;
}

.jumbotron {
  background-color: black;
  text-align: center;
}
.btn {
  border: 5px groove white;
}

.ciphers{
  background-color: #141414;
}

#output, #input {
  background-color: #141414 ;
  color: #0f840f;
  color: gray;
  font-size: 20px;
}

#shift, #vigenere-key, #foursquare-key-1, #foursquare-key-2, #xor-key {
  background-color: black;
  color: #0f840f;
  font-size: 20px;
}

#caesar-cipher, #vigenere, #four-square, #xor, #a-e-s-crypto {
  display: none;
}
